/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Lato:wght@300;400;700&family=Marcellus+SC&family=Poppins:ital,wght@0,400;0,500;0,800;1,400&family=Rock+Salt&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  --color-near-black: #231f20;
  --color-white: #ffffff;
  --color-lite-blue: #a8dadc;

  /*palette 1 cool theme */
  --color-rich-background: #d0d9cb;
  --color-common-background: #b1c0c9;
  --color-accent-back-ack: #A4CE39;
  --color-accent-text-hot: #CB2026;
  --color-shade: #c7c8ca;
  --color-text: #000000;
  /*palette 2 warm theme 
  --color-rich-background: #9f2214;
  --color-common-background: #b25538;
  --color-accent-back-ack: #fec77c;
  --color-accent-text-hot: #ffbe0b;
  --color-shade: #d9d9d9;
  --color-text: #ffffff;
  */
                               
}
header {
  color: var(--color-white);
  background: #000000;
 // background-image: linear-gradient(to right, #000000 30%, var(--color-white));
  padding: 1rem;
}
.head-banner {
  display: flex;
  align-items: center;
}
header h1 {
  color: var(--color-white);
  margin: auto;
  font-family: 'Marcellus SC', serif;
  font-size: clamp(1.8rem, 10vw, 2.8rem);
}
nav {
  background: var(--base-color);
  margin: 1rem;
}

.site-nav a {
  color: white;
  font-family: 'Lato', sans-serif;
  display: block;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.site-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Add interactive transition effects for link tabs */
.site-nav li {
  transition: all .5s ease-in-out;
}

.site-nav li:hover {
  transform: scale(1.2) skewX(-5deg) translateX(1px);
}

.button1 {
  transition: all .5s ease-in-out;
}
.button1:hover {
  transform: scale(1.1) translateY(5px);
}

#home .home-pg,
#web .web-pg,
#photo .photo-pg,
#illus .illus-pg,
#expmt .expmt-pg,
#more .more-pg {
  text-decoration: none;
  color: #a7c957;
  border-top: 2px solid;
  font-weight: bold;
  font-size: 20px;
}

/* landing page hero image */
.lndg-hero-image {
    background-image: url("../images/digart_splash3.jpeg");
    background-color: #cccccc;
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .lndg-hero-text {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-shadow: 3px 3px #000000;
  }

  .button1 {
    background-color: var(--color-white);
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  /* landing page intro message */
  .lndg-intro-msg {
    font-family: 'Marcellus SC', serif;
    font-size: 25px;
    background-color: var(--color-white);
    padding: 2rem;
    text-align: center;
  }

  /* css specific to home page */
  .home-hero {
    max-width: 1900px;
    margin: auto;
    color: #000000;
    padding-bottom: 2rem;
  }
  .home-hero h2 {
    margin: 1rem 0 .5rem 1rem;
  }
  .home-hero p {
    padding: 1rem;
  }
  .home_img {
    display: block;
    width: 100%;
  }

/* grid */

.home-hero {
    padding: 2rem;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
}
.gallery-unit {
    background-color: var(--color-near-black);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery-unit img {
    max-width: 100%;
}

.home_img {
  margin-bottom: 2rem;
}



/* end grid*/

  /* web page -  scattered boxes */



  /* Footer */
  footer {
    background-color: #000000;
    color: var(--color-white);
    padding: 2rem;
    font-family: 'Lato', sans-serif;
  }
  .f_content {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
  }
  .f_links {
    padding-left: 4rem;
  }

  /* media queries */
  @media only screen and (min-width: 800px) {
    .lndg-hero-image {
        height: 800px;
      }

      .hero-text {
        color: #00b4d8;
      }

}


@media only screen and (min-width: 960px) {
  /*
  .home-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  } */
}

@media only screen and (min-width: 1400px) {
    .lndg-hero-image {
        height: 1000px;
      }
      .hero-text {
        color: #ffbe0b;
      }
 
}
