/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin:5rem;
        background:#000000;
        color:#ffffff;
    }

/* Use Flexbox to format the header */
    header {
        background:#333;
    }
    .head-banner {
        display:flex;
        align-items:center;
    }
    header h1 {
        color:#b6cb7c;
        margin: auto;
        font-family: 'Merriweather', serif;
        font-size: clamp(1.8rem, 10vw, 2.8rem);
    }
    .logo {
        display:block;
        margin-right:2rem;
      }
    nav {
        background:#222;
    }
    .site-nav a {
        color: white;
        font-family: 'Lato', sans-serif;
        display:block;
        margin: 1rem;
        text-decoration:none;
    }
    
    .site-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding:0;
        margin:0;
    }
    #home .home-pg {
        text-decoration: none;
        color: #a7c957;
        border-top: 2px solid;
    }

    /* hero image setup for css filter blend mode*/

    .sneakpeek {
        width:800px;
        margin-bottom:5rem;
        background: green url("images/heroscene.jpg") fixed no-repeat center/cover;
    }

    figcaption {
        background:white;
        padding:.25rem;
        color: #555;
    }
    /* hero image setup for clip path
    .circle {
        margin: 600px 10px 600px 150px;
        width:500px;
        height:500px;
        float: left;
        background: url("../images/heroscene.jpg") fixed center;
        background-size:cover;
        -webkit-clip-path: circle(50%);
      clip-path: circle(50%);
      shape-outside: circle ();
      }
      */


      .circle {
        margin: 2rem 5rem 2rem 5rem;
        float: left;
        width:500px;
        height:500px;
        background: url("../images/heroscene.jpg") fixed center;
        background-size:cover;
        -webkit-clip-path: circle(50%);
      clip-path: circle(50%);
      shape-outside: circle();
      }

.explain {
    padding: 350px 50px 500px 50px;
}


x




/* Use CSS Grid to format the amenities section */

 main h2 {
    margin:0;
    font-family: 'Merriweather', serif;
    font-size: 1.9rem;
    color: #fdfee6;
    padding-bottom: .5rem;
  }
  
  /*should this be main figure? */
 main img {
    object-fit:cover;
    width:100%;
    height:100%;
 }
 
 main p {
  font-family: 'Lato', sans-serif;
  line-height: 1.3rem;
 }
 
/* Explicit layout of grid  */
.amenities {
    display:grid;
    grid-gap:.5rem;
    grid-template-areas: 
    "a b c"
    "d f f" 
    "e f f"; 
 }

 .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .e {
    grid-area: e;
  }
  .f {
    grid-area: f;
    padding: 2rem;
  }
  .g {
    grid-area: g;
  }
  .h {
    grid-area: h;
  }
/* Explicit layout of grid  
 main {
    display:grid;
    grid-gap:.5rem;
    grid-template-areas: 
    "a b c d" 
    "e f f g" 
    "h i j k"; 
 }
  
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .e {
    grid-area: e;
  }
  .f {
    grid-area: f;
    padding: 2rem;
  }
  .g {
    grid-area: g;
  }
  .h {
    grid-area: h;
  }
  .i {
    grid-area: i;
  }
  .j {
    grid-area: j;
  }
  .k {
    grid-area: k;
  }
  */

  @media only screen and (min-width: 600px) {

    /*
    .f {
      transform: rotate(-5deg);
    }
    */
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 3rem;
    font-family: 'Lato', sans-serif;
  }