
    html {
        background-image:url(../images/paisley.webp);
        background-attachment:fixed;
       }
       
       video {
         display: block;
         margin: 5rem auto;
         border: 2px solid #abc;
         border-radius: 1rem;
       }
       
       
       .cssMask2 {
         mask-image: radial-gradient(ellipse 90% 90% at 50% 50%, black 40%, transparent 50%);
   /* This will only work if it's viewed through a webserver. 
       VSCode Liver server will work. If not, upload it to your webhost. 
       uncomment to try this! 
         
         mask-image:url("images/logo.png");
         -webkit-mask-image:url("images/logo.png");
         -webkit-mask-mode: luminance;
         -webkit-mask-repeat: repeat-x;
         -webkit-mask-size: 50%;
         -webkit-mask-position: center center; */
     }
   
     .cssMask3 {
       clip-path: polygon(50% 0%, 0% 98%, 98% 98%);
     }
       
       audio {
         display:block;
         margin:2rem auto;
       }