/* overall site formats for background, fonts, page spread */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #000000;
    color: snow;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    font-family: 'Merriweather', serif;
}

/*navigation formatting */
.site-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-nav a {
    color: snow;
    font-family: 'Lato', sans-serif;
    display: block;
    margin: 1rem;
    text-decoration: none;
}

main {
    background-color: #729897;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 2.4rem;
    padding: 0.5rem;
}

h2 {
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: #edf2f4;
}

h3 {
    margin: 1rem auto;
    background-color: #006a6e;
    color: snow;
    padding: 1rem;
}

img {
    margin: 1rem;
    border: #000000 solid .5rem;
    padding: .5rem;
}

.top {
    border: #000000 solid .1rem;
    font-family: 'Lato', sans-serif;
    background-color: black;
    text-decoration: none;
    color: orange;
    padding: .2rem 1rem;
    margin: 1rem;
}

.disclaimer {
    background-color: #000000;
    color: #edf2f4;
    padding: 1rem;
}

/* Resize for desktop screens only */
@media screen and (min-width: 600px) {

    .site-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}